<ion-view title="Empfehlung" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
      <h1>Noch nicht!</h1>
      <div style="text-align:center;">
            <img src="img/rot.png" width="40%" height="auto"><button ng-click="notify()" class="button button-stable button-clear  icon ion-information-circled"></button>
        </div>
      <div>
        <table><tr><td>
          <span style="text-align: left; color: #0066B3">Kaufbetrag:</span></td><td><span style="text-align: right" > {{amount}} € </span></td></tr></br>
          <tr><td> <span style="text-align: right; color: #0066B3">erwarteter Saldo Primärkonto:</span></td><td><span  style="text-align: right"> {{erwarteterStand}} €</span></td></tr>
        </table>
      </div>
      </br>
        </br>
      <span style="text-align: right; color: #0066B3">Was willst du tun?</span>
      <form >
        <ion-radio  ng-model="todoChoice" ng-value="1" name="wishlist" ng-change="changeTodo(todoChoice)">zur Wunschliste hinzufügen</ion-radio>
        <ion-radio ng-model="todoChoice" ng-value="2" name="kredit" ng-change="changeTodo(todoChoice)">Kredit beantragen</ion-radio>
</br></br>
        </br>


      </form>

    </ion-content>
  <ion-footer-bar>
    <div class="button-bar">

      <button ui-sref="menu.kIMLKannIchsMirLeisten" class="button button-energized button-block ">Abbrechen</button>

      <button type="button" class="button button-stable  button-block  icon ion-arrow-graph-up-right" ng-click="startFinance()"></button>
      <button type="button" class="button button-energized button-block" ng-submit="doneYellow()">weiter</button>
    </div>
  </ion-footer-bar>
</ion-view>
