<ion-view title="Empfehlung" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
      <h1>Noch nicht!</h1>
      <div style="text-align:center;">
            <img src="img/rot.png" width="40%" height="auto"><button ng-click="notify()" class="button button-stable button-clear  icon ion-information-circled"></button>
        </div>
      <div class="row">
        <div class="col col-20"> <span style="text-align: left; color: #0066B3; ">Kaufbetrag:</span></div>
        <div class="col"> {{amount}} €</div>
      </div>
      <div class="row">
        <div class="col col-20"> <span style="text-align: right; color: #0066B3; ">prognostizierter </br>Saldo Primärkonto:</span></div>
        <div class="col"> </br> {{erwarteterStand}} €</div>
      </div>

      </br>
        </br>


           <div class="list">

          <label class="item item-input item-select">
            <div class="input-label">
              Was willst du tun?
            </div>
            <select ng-model="todoChoice" ng-options="item for item in ['zur Wunschliste hinzufügen', 'Kredit beantragen','Sparplan anlegen']" ng-change="changeTodo(todoChoice)">
            </select>
          </label>
          </br></br>
          </br>
        </div>




    </ion-content>
  <ion-footer-bar>
    <div class="button-bar">

      <button ui-sref="menu.kIMLKannIchsMirLeisten" class="button button-energized button-block ">Abbrechen</button>

      <button type="button" class="button button-stable  button-block  icon ion-arrow-graph-up-right" ng-click="startFinance()"></button>
      <button type="button" class="button button-energized button-block" ng-click="doneRed()">weiter</button>
    </div>
  </ion-footer-bar>
</ion-view>
