<ion-view title="Empfehlung">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
      <h1>Noch nicht!</h1>
      <div style="text-align:center;">
            <img src="img/rot.png" width="50%" height="auto"><button ng-click="notify()" class="button button-stable button-clear  icon ion-information-circled"></button>
        </div>
      <div>
        <table><tr><td>
          <span style="text-align: left; color: #0066B3">Kaufbetrag:</span></td><td><span style="text-align: right" > {{amount}} € </span></td></tr></br>
          <tr><td> <span style="text-align: right; color: #0066B3">erwarteter Saldo Primärkonto:</span></td><td><span  style="text-align: right"> {{erwarteterStand}} €</span></td></tr>
        </table>
      </div>
      </br>
        <ion-toggle  ng-model="wishlist" ng-checked="wishlist" name="wishlist">zur Wunschliste hinzufügen</ion-toggle>
        </br>
        <form ng-submit="doneYellow(wishlist,todoChoice)">
          <ion-radio ng-model="todoChoice" ng-value="2" name="kredit">Kredit beantragen</ion-radio>
        <div class="button-bar">

          <a ui-sref="menu.kIMLKannIchsMirLeisten" class="button button-energized button-block ">Abbrechen</a>

          <button type="button" class="button button-stable  button-block  icon ion-arrow-graph-up-right" ng-click="startFinance()"></button>
          <button type="submit" class="button button-energized button-block">weiter</button>
        </div>
        </form>

    </ion-content>
</ion-view>
