<ion-view title="Empfehlung" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
      </br></br>

        <div style="text-align:center;">
            <img src="img/gruen.png">
        </div>
      </br>
      <h1>Greif zu!</h1>
      </br></br>


      <div class="card" style="background-color: #a0509a" >
  <div class="row">
        <div class="col col-50"> <span class="kiml-text-bold-white">Kaufbetrag</span></div>
        <div class="col col-offset-10 kiml-text-white" style="text-align: right"> {{amount}} €
        </div>
        <div class=" col col-10 ">
          <img src="img/transparent.png">
        </div>

      </div>


      <div class="row" >
        <div class="col col-50"> <span class="kiml-text-bold-white">prognostizierter Saldo  </br>  {{prognoseTarget}}</span></div>
        <div class="col col-offset-10 kiml-text-white" style="text-align: right"> </br> {{erwarteterStand}} €
        </div>
        <button ng-click="notify()" style="margin-top: -23px" class="button button-clear col col-10  icon ">
          <img src="img/Info2.svg" /></button>
      </div>
</div>

    </ion-content>
  <ion-footer-bar style="height: 130px; width: 98%; background: transparent" title="Was willst du tun?">
    <div class="button-bar-inline" style= "height: 65px">
      <label class="button button-clear button-block col-offset-20" style="position: fixed; font-size: x-large; width: 59%; color: #a0509a; font-weight: bold">
        Was willst du tun?
      </label>
    </div>

    <div class="row">



      <div class="col col-center col-10">   <button ui-sref="menu.kIMLKannIchsMirLeisten" class="button button-clear icon ">
        <img src="img/circleLeft.svg" />
      </button>
      </div>

      <button ng-model="todoChoice" style="font-size: large;" class="button button-light col col-center col-80" ng-click="openPopover($event)">{{todoChoice}}
        <img src="img/sort_down.svg" style="height: 30px; position: absolute">
      </button>

      <div class="col col-center col-10">    <button type="button" class="button button-clear icon" ng-click="doneGreen()">
        <img src="img/circleRight.svg"/>
      </button>
      </div>
    </div>





  </ion-footer-bar>

</ion-view>

<script id="modalEmpfehlung.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title">Hinweis</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">OK</button>
    </ion-header-bar>
    <ion-content >
      <ion-list>
        <ion-item><span class="kiml-text">Deine Wohlfühlgrenze</span> {{minAmount.toFixed(2)}} € </ion-item>
        <ion-item><span class="kiml-text">prognostizerte Abbuchungen</span>  {{prognose.toFixed(2)}} € </ion-item>
      </ion-list>

      </br></br>

      <span class="kiml-text" style="padding-left: 10px" > Siehe deinene Prognose:</span>
      </div>
      <a ui-sref="menu.finanzstatus">
        <div ng-app="app.controllers">

          <div ng-controller="multiChartCtrl" ng-init="init(250, false)">
            <nvd3  options="options" data="data" config="config" events="events" on-ready="callback" ></nvd3>
          </div>
        </div>
      </a>
    </ion-content>
  </ion-modal-view>
</script>

<script id="popover.html" type="text/ng-template">
  <ion-popover-view  style="width: 50%; height: auto; background-color: #fff">
    <ion-header-bar style="background-color: #a0509a; position: relative"> <h2 class="title" style="color: #fff" >Was willst du tun?</h2></ion-header-bar>
    <ion-content style=" top:0;position: relative">
      <div class="list">
        <button class="item button-light button-block" ng-click="closePopover('zur Wunschliste hinzufügen')">
          zur Wunschliste hinzufügen
        </button>
        <button class="item button-light button-block" ng-click="closePopover('Finanzstatus anzeigen')">
          Prognose anzeigen
        </button>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
