<ion-view title="Empfehlung" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">

        <h1>Greif zu!</h1>
        <div style="text-align:center;">
            <img src="img/gruen.png">
        </div>

</br></br>
      <div class="row">
        <div class="col col-50"> <span class="kiml-text">Kaufbetrag:</span></div>
        <div class="col col-offset-10"> {{amount}} €</div>
        </div>
      <div class="row">
        <div class="col col-50"> <span class="kiml-text">prognostizierter Saldo </br>Primärkonto  {{prognoseTarget}}:</span></div>
        <div class="col col-offset-10"> </br> {{erwarteterStand}} €
          <button ng-click="notify()" style="padding-left: 50px; margin-top: -20px" class="button button-clear  icon ">
          <img src="img/Info.svg" /></button></div>
      </div>

      </br></br>
          <ion-toggle  ng-model="wishlist" ng-checked="wishlist" name="wishlist" ng-change="changeTodo(wishlist)">zur Wunschliste hinzufügen</ion-toggle>



      </br></br></br>

    </ion-content>
  <ion-footer-bar style="height: 65px; width: 98%; background: transparent">
    <div class="button-bar" style= "height: 65px">

      <button ui-sref="menu.kIMLKannIchsMirLeisten" class="button button-energized button-block ">Abbrechen</button>

      <button class="button button-stable  button-block  icon " ng-click="startFinance()"><img style="height: 90%; margin-top: 2px" src="img/Bullish.svg" /></button>
      <button  class="button button-energized button-block" ng-click="doneGreen()">Fertig</button>
    </div>
</ion-view>

<script id="modalEmpfehlung.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title">Hinweis</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">OK</button>
    </ion-header-bar>
    <ion-content >
      <ion-list>
        <ion-item><span class="kiml-text">Dein Minimalbetrag:</span> {{minAmount.toFixed(2)}} € </ion-item>
        <ion-item><span class="kiml-text">prognostizerte Abbuchungen:</span>  {{prognose.toFixed(2)}} € </ion-item>
      </ion-list>

      </br></br>

      <span class="kiml-text" style="padding-left: 10px" > Siehe deinen Finanzstatus:</span>
      </div>
      <a ui-sref="menu.finanzstatus">
        <div ng-app="app.controllers">

          <div ng-controller="multiChartCtrl" ng-init="init(250, false)">
            <nvd3  options="options" data="data" config="config" events="events" on-ready="callback" ></nvd3>
          </div>
        </div>
      </a>
    </ion-content>
  </ion-modal-view>
</script>
