<ion-view title="Empfehlung" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
      <h1>Möglich...</h1>
      <div style="text-align:center;">
            <img src="img/gelb.png" width="50%" height="auto"><button ng-click="notify()" class="button button-stable button-clear  icon ion-information-circled"></button>
        </div>
      <div class="row">
        <div class="col col-30"> <span style="text-align: left; color: #0066B3; ">Kaufbetrag:</span></div>
        <div class="col"> {{amount}} €</div>
      </div>
      <div class="row">
        <div class="col col-30"> <span style="text-align: right; color: #0066B3; ">prognostizierter Saldo </br>Primärkonto  {{prognoseTarget}}:</span></div>
        <div class="col"> </br> {{erwarteterStand}} €</div>
      </div>

      </br>

        </br>

          <div class="list">

            <label class="item item-input item-select">
              <div class="input-label">
                Was willst du tun?
              </div>
              <select ng-model="todoChoice" ng-options="item for item in ['zur Wunschliste hinzufügen','Umbuchen', 'Kredit beantragen','Daueraufträge anzeigen','Terminüberweisungen anzeigen','Sparplan anlegen']" ng-change="changeTodo(todoChoice)">
              </select>
            </label>
            </br></br>
            </br>
          </div>

</br></br></br>

    </ion-content>
  <ion-footer-bar>
    <div class="button-bar">

      <button ui-sref="menu.kIMLKannIchsMirLeisten" class="button button-energized button-block ">Abbrechen</button>

      <button type="button" class="button button-stable  button-block  icon ion-arrow-graph-up-right" ng-click="startFinance()"></button>
      <button type="button" class="button button-energized button-block" ng-click="doneYellow()">weiter</button>
    </div>
  </ion-footer-bar>

</ion-view>


<script id="modalEmpfehlung2.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title">Hinweis</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Abbrechen</button>
    </ion-header-bar>
    <ion-content class="padding">

      Aufgrund Deiner Präferenzen (Minimalbetrag): {{minAmount.toFixed(2)}} € </br></br>

      sowie noch prognostizerter Abbuchungen: {{prognose.toFixed(2)}} € </br></br>

      fehlen Dir {{fehlbetrag}} €
      </br></br>

      Siehe deinen Finanzstatus:
      </div>
      <a ui-sref="menu.finanzstatus">
      <div ng-app="app.controllers">

        <div ng-controller="multiChartCtrl" ng-init="init(250)">
          {{update()}}
          <nvd3  options="options" data="data" config="config" events="events" on-ready="callback" ></nvd3>
        </div>
      </div>
      </a>
      <button class="button button-full button-positive" ng-click="c">Ok</button>
    </ion-content>
  </ion-modal-view>
</script>
