<ion-view title="Empfehlung">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
        <div style="text-align:center;">
            <img src="img/WSZuiiBsTdOx4GHKpjqH_07154469_9c4KRaycE_answer_1_xlarge.jpeg" width="60%" height="auto">
        </div>
        <div>
            <p>{{amount}}€</p>
        </div>
        <div class="button-bar">
            <a ui-sref="menu.umbuchung" class="button button-stable button-block ">Umbuchung</a>
        </div>
        <a ui-sref="menu.kredit" class="button button-stable button-block ">Kredit</a>
        <button class="button button-stable button-block ">Sparen</button>
    </ion-content>
</ion-view>
