<ion-view title="Finanzstatus" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">



        <div ng-app="app.controllers">
          <div ng-controller="multiChart2Ctrl">
            <nvd3 options="options" data="data" config="config" ></nvd3>
          </div>
        </div>



      <!--
     <div class="ct-chart ct-perfect-fourth"></div>
        <div ng-app="app.directives" ng-controller="finanzstatusCtrl">

       <div d3-bars bar-height="20" bar-padding="5"></div>

      </div>
        <nvd3 options="options" data="data"></nvd3>
       <div style="text-align:center;">
             <img src="img/finanzstatus-{{financeType}}.png" width="100%" height="auto">
         </div> -->

    </ion-content>
</ion-view>
