<ion-view title="Finanzstatus" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">

      </br>
        <div ng-app="app.controllers">

          <div ng-controller="multiChartCtrl" ng-init="init(550, true)">
            {{update()}}
            <nvd3  style="height: 550px" options="options" data="data" config="config" events="events"  on-ready="callback" ></nvd3>
          </div>
        </div>


      <button class="button button-energized button-block " ng-click="resetFinanceType()" >Kaufpreis zurücksetzen</button>
      <!--
 <div class="ct-chart ct-perfect-fourth"></div>
    <div ng-app="app.directives" ng-controller="finanzstatusCtrl">

   <div d3-bars bar-height="20" bar-padding="5"></div>

  </div>
    <nvd3 options="options" data="data"></nvd3>
   <div style="text-align:center;">
         <img src="img/finanzstatus-{{financeType}}.png" width="100%" height="auto">
     </div> -->

    </ion-content>
</ion-view>
