<ion-view title="Finanzstatus" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">

      </br>
        <div ng-app="app.controllers">

          <div ng-controller="multiChartCtrl" ng-init="init(550, true)">
            {{update()}}
            <nvd3  style="height: 550px" options="options" data="data" config="config" events="events"  on-ready="callback" ></nvd3>
          </div>
        </div>




    </ion-content>
  <ion-footer-bar style="height: 130px; width: 98%; background: transparent" title="Was willst du tun?">
    <div class="button-bar-inline" style= "height: 65px">
      <label class="button button-clear button-block col-offset-20" style="position: fixed; font-size: x-large; width: 59%; color: #a0509a; font-weight: bold">
        Was willst du tun?
      </label>
    </div>

    <div class="row">



      <div class="col col-center col-10">   <button ui-sref="menu.kIMLKannIchsMirLeisten" class="button button-clear icon ">
        <img src="img/circleLeft.svg"/>
      </button>
      </div>

      <button ng-model="todoChoice" style="font-size: large;" class="button button-light col col-center col-80" disabled>Kaufpreis zurücksetzen
      </button>

      <div class="col col-center col-10">    <button type="button" class="button button-clear" ng-click="resetFinanceType()">
        <img src="img/Ok.svg"/>
      </button>
      </div>
    </div>





  </ion-footer-bar>
</ion-view>
