<ion-view title="Impressum" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">

         <div class="card">
      <div class="item item-divider"><span style="color: #0066B3">Entwickelt im Auftrag von:</span></div>
      <div class="item item-text-wrap" style="font-size: small">   Genossenschaftliche FinanzGruppe Volksbanken Raiffeisenbanken</div>
      </div>
      <div class="card">
        <div class="item item-text-wrap" style="font-size: small"> Entwickler sind die Gesamtsieger des 1. GENOHackathons vom 1.3.-3.3.2016 (München):</div>
        <div class="item item-text-wrap">
        <ion-list >
            <ion-item style="font-size: small;color: #0066B3"> Boyamba, Anissa (Münchner Bank eG)</ion-item>
            <ion-item style="font-size: small;color: #0066B3">Brendle, Markus (Fiducia & GAD IT AG)</ion-item>
          <ion-item style="font-size: small;color: #0066B3">Fischer, Thomas (Sparda Bank München eG)</ion-item>
            <ion-item style="font-size: small;color: #0066B3">Geißl, Andreas (Fiducia & GAD IT AG)</ion-item>
            <ion-item style="font-size: small;color: #0066B3"> Heiß, Fabian (PSD Bank Berlin Brandenburg eG)</ion-item>
            <ion-item style="font-size: small;color: #0066B3"> Mottinger, Rudolf (Fiducia & GAD IT AG)</ion-item>
            <ion-item style="font-size: small;color: #0066B3">Schneider, Ferdinand (Schwäbisch Hall Kreditservice GmbH)</ion-item>
          </ion-list>
          </div>
</div>
    </ion-content>
</ion-view>
