<ion-view title="Kontoverwaltung">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
        <form class="list" ng-submit="save(kontoChoice, minRemaining)">
          <div> <span class="input-label" style="color: #0066B3">Wähle dein Primärkonto:</span></div>
          <ion-radio ng-model="kontoChoice" ng-value="1" name="konto1">{{konto1Bez}}: {{konto1}} €
            </br> <span style="font-size: smaller">{{konto1IBAN}}</span>
          </ion-radio>
          <ion-radio ng-model="kontoChoice" ng-value="2" name="konto2">{{konto2Bez}}: {{konto2}} €
            </br> <span style="font-size: smaller">{{konto2IBAN}}</span>
          </ion-radio>
          <ion-radio ng-model="kontoChoice" ng-value="3" name="konto3">{{konto3Bez}}: {{konto3}} €
            </br> <span style="font-size: smaller">{{konto3IBAN}}</span>
          </ion-radio>
          </br></br>
          <label class="item item-input" name="untergrenze">
                <span class="input-label">Untergrenze in €:</span>
                <input type="text" pattern="\d*[0-9](\.\d{1,2})?$" ng-model="minRemaining">
            </label>

          <button type="submit" class="button button-energized button-block ">Speichern</button>
        </form>

    </ion-content>
</ion-view>
