<ion-view title="Kontoverwaltung">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
      <span style="color: #0066B3">Wähle dein Primärkonto:</span>
        <form class="list">

          <ion-radio ng-model="kontoChoice" ng-value="1" name="konto1">Girokonto: {{konto1}} €
            </br> <span style="font-size: smaller">DE 11 7019 0000 0000 0089 74</span>
          </ion-radio>
          <ion-radio ng-model="kontoChoice" ng-value="2" name="konto2">Tagegeld: {{konto2}} €
            </br> <span style="font-size: smaller">DE 40 7919 0000 0001 5311 58</span>
          </ion-radio>
          <ion-radio ng-model="kontoChoice" ng-value="3" name="konto3">Gemeinschaftskonto: {{konto3}} €
            </br> <span style="font-size: smaller">DE 46 1009 0900 0887 5754 33</span>
          </ion-radio>
        </form>
        <form class="list">
            <label class="item item-input" name="untergrenze">
                <span class="input-label">Untergrenze in €:</span>
                <input type="number" value="200" placeholder="500">
            </label>
        </form>
      <a ui-sref="menu.kIMLKannIchsMirLeisten" class="button button-energized button-block ">Speichern</a>
    </ion-content>
</ion-view>
