<ion-view title="Kredit">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
        <form class="list"></form>
        <h2>Angebot:</h2>
        <ion-list>
            <ion-item>Betrag: {{fehlbetrag}} €</ion-item>
            <ion-item>Laufzeit: {{kreditLaufzeit}} Monate</ion-item>
            <ion-item>Rate: {{kreditRate}} €</ion-item>
        </ion-list>
        <button class="button button-energized button-block " ng-click="order()">Kostenpflichtig bestellen!</button>
        <a ui-sref="menu.kredit" class="button button-light button-block  icon-left ion-android-arrow-back">abbrechen</a>
    </ion-content>
</ion-view>
