<ion-view title="Kredit" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
      </br></br>     </br></br></br>
            <label class="item item-input" name="gesamtbetrag">
                <span class="input-label">Zu zahlender Betrag:</span> {{gesamtbetrag}} €
            </label>
            <label class="item item-input" name="fehlbetrag">
                <span class="input-label">Fehlbetrag:</span> {{fehlbetrag}} €

            </label>
          </br></br>
      </br></br></br>
        <form class="list">
            <ion-label class="kiml-text">Laufzeit in Monaten: </ion-label>
            <ion-item class="range range-positive">{{laufzeit}}
                <input type="range"  min="6" max="36" name="RangeLaufzeit" ng-model="laufzeit" ng-change="saveLaufzeit(laufzeit)">
            </ion-item>
          </br>
          <ion-item class="item-divider">Monatliche Rate: {{rate}} €</ion-item>

        </form>

    </ion-content>

  <ion-footer-bar style="height: 65px; width: 98%; background: transparent">
    <div class="button-bar" style= "height: 65px">
      <button ui-sref="{{kreditBack}}" class="button button-light button-block  icon-left ion-android-arrow-back">zurück</button>
      <button ui-sref="menu.kredit2" class="button button-energized button-block  icon-right ion-android-arrow-forward">weiter</button>

    </div>
    </ion-footer-bar>
</ion-view>
