<ion-view title="Kredit" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
      </br></br>     </br></br></br>

        <span class="kiml-text-header">Angebot</span></br></br>
        <ion-list>
         <label class="item item-input"> <span class="kiml-text-bold col col-80 ">Kreditbetrag:</span><span class="kiml-text col col 20"> {{fehlbetrag}} €</span></label>
          <label class="item item-input"> <span class="kiml-text-bold col col-80 ">Laufzeit:</span> <span class="kiml-text col col 20">{{laufzeit}} Monate</span></label>
          <label class="item item-input">  <span class="kiml-text-bold col col-80 ">Rate:</span> <span class="kiml-text col col 20">{{rate}} €</span></label>
        </ion-list>

    </ion-content>

  <ion-footer-bar style="height: 130px; width: 98%; background: transparent" title="Was willst du tun?">
    <div class="button-bar-inline" style= "height: 65px">
      <label class="button button-clear button-block col-offset-20" style="position: fixed; font-size: x-large; width: 59%; color: #a0509a; font-weight: bold">
        Was willst du tun?
      </label>
    </div>

    <div class="row">



      <div class="col col-center col-10">   <button ui-sref="menu.kredit"  class="button button-clear icon ">
        <img src="img/circleLeft2.svg"/>
      </button>
      </div>

      <button ng-model="todoChoice" style="font-size: large;" class="button button-light col col-center col-80" disabled>Kredit beantragen
      </button>

      <div class="col col-center col-10">    <button type="button" class="button button-clear" ng-click="order()">
        <img src="img/circleRight.svg"/>
        </button>
      </div>
    </div>





  </ion-footer-bar>
</ion-view>
