<ion-view view-title="Reiseplan anlegen">
  <ion-content class="padding">
   <div class="item item-body">
    <img class="full-image" src="img/kaMap.jpg"/>
   </div>
  <form ng-submit="saveTarget()">
  	<div class="list">
  		<label class="item item-input item-select">
  			<div class="input-label">von</div>
  			<select ng-model="postData.location">
	  			<option>Karlsruhe</option>
  				<option>M&uuml;nchen</option>
  				<option>M&uuml;nster</option>
  				<option>Berlin</option>
  				<option>Frankfurt</option>
  			</select>
  		</label>
  		<label class="item item-input item-select">
  			<div class="input-label">nach</div>
  			<select ng-model="postData.destination">
  				<option>M&uuml;nster</option>
  				<option>M&uuml;nchen</option>
	  			<option>Karlsruhe</option>
  				<option>Berlin</option>
  				<option>Frankfurt</option>
  			</select>  		
  		</label>
  		<label class="item item-input">
    		<input type="date" placeholder="am" ng-model="postData.targetDate">
  		</label>
  		<label class="item item-input">
    		<input type="time" placeholder="sp&auml;teste Ankunft" ng-model="postData.latestTime">
  		</label>
	</div>
	<button type="submit" class="button button-block button-positive">anlegen</button>	
	</form>
  </ion-content>
</ion-view>
