<ion-view title="Umbuchung" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
      </br></br>
    <div>
        <label class="item item-input" name="gesamtbetrag">
          <span class="input-label">Zu zahlender Betrag:</span> {{gesamtbetrag}} €
        </label>
        <label class="item item-input" name="fehlbetrag">
          <span class="input-label">Fehlbetrag:</span> {{fehlbetrag}} €

        </label>
    </div></br></br></br></br>
      <span class="kiml-text" >Von welchem Konto soll umgebucht werden?</span>
        <form class="list">
          <ion-radio ng-show="isKonto1" ng-model="kontoChoice" ng-value="1" name="konto1" ng-change="changeKonto(kontoChoice)">{{konto1Bez}}: {{konto1}} €
            </br> <span style="font-size: smaller">{{konto1IBAN}}</span>
          </ion-radio>

          <ion-radio ng-show="isKonto2" ng-model="kontoChoice" ng-value="2" name="konto2" ng-change="changeKonto(kontoChoice)">{{konto2Bez}}: {{konto2}} €
            </br> <span style="font-size: smaller">{{konto2IBAN}}</span>
            </ion-radio>

            <ion-radio ng-show="isKonto3" ng-model="kontoChoice" ng-value="3" name="konto3" ng-change="changeKonto(kontoChoice)">{{konto3Bez}}: {{konto3}} €
              </br> <span style="font-size: smaller">{{konto3IBAN}}</span>
            </ion-radio>

        </form>

    </ion-content>
  <ion-footer-bar style="height: 65px; width: 98%; background: transparent">
    <div class="button-bar" style="height: 65px">

      <button ui-sref="menu.empfehlung2" class="button button-light button-block  icon-left ion-android-arrow-back">zurück</button>
      <button class="button button-energized button-block " ng-click="umbuchen()">Umbuchen</button>

    </div>
  </ion-footer-bar>
</ion-view>
