<ion-view title="Umbuchung">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div>
        <label class="item item-input" name="gesamtbetrag">
          <span class="input-label">Zu zahlender Betrag:</span> {{gesamtbetrag}} €
        </label>
        <label class="item item-input" name="fehlbetrag">
          <span class="input-label">Fehlbetrag:</span> {{fehlbetrag}} €

        </label>
    </div></br>
      <h5>Von welchem Konto soll umgebucht werden?</h5>
        <form class="list" ng-submit="umbuchen(kontoChoice)">
            <ion-radio ng-model="kontoChoice" ng-value="1" name="konto1">Konto 1: {{konto1}} €</ion-radio>
            <ion-radio ng-model="kontoChoice" ng-value="2" name="konto2">Konto 2: {{konto2}} €</ion-radio>
            <ion-radio ng-model="kontoChoice" ng-value="3" name="konto3">Konto 3: {{konto3}} €</ion-radio>

          <button class="button button-stable button-block ">Umbuchen</button>
        </form>
        <a ui-sref="menu.empfehlung2" class="button button-stable button-block  icon-left ion-android-arrow-back">zurück</a>
    </ion-content>
</ion-view>
