<ion-view title="Umbuchung">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
    <div>
        <label class="item item-input" name="gesamtbetrag">
          <span class="input-label">Zu zahlender Betrag:</span> {{gesamtbetrag}} €
        </label>
        <label class="item item-input" name="fehlbetrag">
          <span class="input-label">Fehlbetrag:</span> {{fehlbetrag}} €

        </label>
    </div></br>
      <h5 style="color: #0066B3">Von welchem Konto soll umgebucht werden?</h5>
        <form class="list" ng-submit="umbuchen(kontoChoice)">
          <!--  <ion-radio ng-model="kontoChoice" ng-value="1" name="konto1">Konto 1: {{konto1}} €</ion-radio>-->
            <ion-radio ng-model="kontoChoice" ng-value="2" name="konto2">Tagegeld: {{konto2}} €
            </br> <span style="font-size: smaller">DE 40 7919 0000 0001 5311 58</span>
            </ion-radio>

            <ion-radio ng-model="kontoChoice" ng-value="3" name="konto3">Gemeinschaftskonto: {{konto3}} €
              </br> <span style="font-size: smaller">DE 46 1009 0900 0887 5754 33</span>
            </ion-radio>

          <button class="button button-energized button-block ">Umbuchen</button>
        </form>
        <a ui-sref="menu.empfehlung2" class="button button-light button-block  icon-left ion-android-arrow-back">zurück</a>
    </ion-content>
</ion-view>
