<ion-view title="Wunschliste">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
        <ion-list>
            <ion-item>Fahrrad - 500€</ion-item>
            <ion-item>Fernseher - 1200€</ion-item>
            <ion-item>Tablet - 499€</ion-item>
        </ion-list>
      <div class="card">
        <div class="item">
          <button class="button button-block button-positive">
            <i class="icon ion-qr-scanner"></i>
            Scan Now
          </button>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">Scan Results</div>
        <div class="item item-text-wrap">{{vm.scanResults}}
        </div>
      </div>
    </ion-content>
</ion-view>
